/Dr_Pelos/nbproject/private/
/Dr_Pelos/dist/
/Dr_Pelos/build/
/Dr_Pelos3/nbproject/private/
/Dr_PelosXml/nbproject/private/
/Dr_PelosXml/dist/
/Dr_PelosXml/build/
/Dr_pelosFXML/nbproject/private/
/Dr_pelosFXML/dist/web-files/
/Dr_pelosFXML/dist/*.html
/Dr_pelosFXML/dist/*.jar
/Dr_pelosFXML/build/
/Dr_pelosFXML/dist/